# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Local builds
/bin/
/build/
/config.*
!config.toml.dist

# Go workspace file
go.work

# IDEs
.vscode/
.idea/

# Other
.DS_Store
